@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1400) {
  .container {
    max-width: 1440px;
  }
}
/* @media (min-width: 1600) {
  .container {
    max-width: 1640px;
  }
} */

.hide {
  display: none;
}

.navbar {
  padding: 0rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-moblie-menu {
  position: relative;
  padding: 1rem 1.25rem 1rem 0rem;
}

.header-moblie-menu div {
  width: 20px;
  height: 2px;
  background-color: #222;
  transition: all 0.3s ease-in-out;
  margin-bottom: 5px;
}

.header-logo-menu {
  display: flex;
  align-items: center;
}

.search-icon {
  padding: 10px;
}

.cart-icon {
  padding: 10px;
}

.side-menu {
  border-top: 1px solid lightgray;
  z-index: 1;
  position: absolute;
  background-color: white;
}

.side-menu-box {
  width: 320px;
  height: 51px;
  display: flex;
  align-items: center;
}

.side-menu-item {
  padding: 12px 24px;
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.main-first-slider {
  position: relative;
}

.slider-1-text-box {
  position: absolute;
  padding: 24px;
  width: 272px;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 36px;
  /* font-weight: 600; */
  margin-bottom: 16px;
  color: white;
  font-family: sans-serif;
  line-height: 47px;
}

.header-text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  color: white;
  font-family: sans-serif;
  line-height: 24px;
}

.header-button {
  padding: 8px 24px;
  background-color: rgb(128, 195, 67);
  font-size: 18px;
  color: #222;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 800px;
  font-family: sans-serif;
}

.img-button {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 15px;
  left: 0;
  right: 0;
}

.btn {
  width: 40px;
  height: 4px;
  background-color: rgb(225, 225, 225);
  box-shadow: rgba(71, 71, 71, 0.2);
  border: none;
}

.slider-2 img {
  display: none;
}
