/* .slider-1-pic {
  display: none;
} */

.hide {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.show {
  display: block;
}

.navbar {
  padding: 0rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-moblie-menu {
  position: relative;
  padding: 1rem 1.25rem 1rem 0rem;
}

.header-moblie-menu div {
  width: 20px;
  height: 2px;
  background-color: #222;
  transition: all 0.3s ease-in-out;
  margin-bottom: 5px;
}

.header-logo-menu {
  display: flex;
  align-items: center;
}

.search-icon {
  padding: 10px;
}

.cart-icon {
  padding: 10px;
}

.side-menu {
  border-top: 1px solid lightgray;
  z-index: 1;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.side-menu-box {
  width: 320px;
  height: 51px;
  display: flex;
  align-items: center;
  position: relative;
}

.side-menu-box svg {
  position: absolute;
  right: 15px;
}

.side-menu-item {
  padding: 12px 24px;
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

/* .side-menu,
.products-side-menu {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
} */

/* .products-side-menu {
  transform: translateX(0); 
} */

.products-side-menu {
  position: fixed;
  top: 39px;
  left: 0;
  width: 300px;
  height: 100%;
  background: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* مخفی‌شده به سمت راست */
  z-index: 1000;
}

.products-side-menu.show {
  transform: translateX(0); /* ظاهر شدن منو */
}

.products-side-menu.hide {
  transform: translateX(100%);
}

.laptops-side-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #f1f1f1;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
}

.laptops-side-menu.active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.products-side-menu {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.products-side-menu-title {
  padding: 12px 24px;
  background-color: rgb(71 71 71 / 11%);
}

.products-side-menu-items li {
  padding: 12px 24px;
  font-size: 18px;
  position: relative;
}

.products-side-menu-items a {
  text-decoration: none;
  color: rgb(34, 34, 34);
}

.products-side-menu-items svg {
  position: absolute;
  right: 15px;
}

.acer-brands-menu ul {
  padding: 0px 24px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2;
}

.acer-brands-menu li {
  padding: 0;
}

.main-first-slider {
  position: relative;
}

.pic-1-text-box {
  padding: 0px 24px;
}
.pic-2-text-box {
  padding: 0px 24px;
}
.pic-3-text-box {
  padding: 0px 24px;
}
.pic-4-text-box {
  padding: 0px 24px;
}
.pic-5-text-box {
  padding: 0px 24px;
}

.slider-1-text-box {
  position: absolute;
  padding: 24px;
  width: 224px;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 47px;
  width: 224px;
}

.header-text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
}

.header-button {
  padding: 8px 24px;
  background-color: rgb(128, 195, 67);
  font-size: 18px;
  color: #222;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 800px;
  font-family: Arial, Helvetica, sans-serif;
}

.img-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 15px;
  left: 0;
  right: 0;
}

.img-button div {
  padding-right: 10px;
}

.btn {
  width: 40px;
  height: 4px;
  background-color: rgb(225, 225, 225);
  box-shadow: rgba(71, 71, 71, 0.2);
  border: none;
}

.slider-box img {
  display: none;
}

.header-button-container {
  align-items: start;
}

.header-button-container:hover {
  transition: all 0.3s ease-in-out 0s;
  box-shadow: 5px 9px 20px white;
}

.slider-3-text > .header-text {
  position: absolute;
  left: 0;
}

.slider-3-text > .header-title {
  position: absolute;
  left: 0;
  top: 55%;
}
.slider-3-text > .header-button-container {
  position: absolute;
  left: 0;
  top: 285px;
}

.slider-5-text {
  align-items: start;
}

.slider-5-text .header-text {
  font-size: 13px;
  color: #222;
  margin-bottom: 0;
}

.slider-5-text .header-title {
  font-size: 36px;
  color: #222;
}

.header-box-title-slide3 {
  display: flex;
  flex-direction: column;
  width: 272px;
}

.header-title-slide3 {
  font-size: 32px;
}

.header-title-slide3:first-child {
  font-size: 21px;
}

.sliders-4 {
  align-items: start;
}

.sliders-4 > .header-text {
  margin-bottom: 0;
}

.hero-info {
  padding-bottom: 20px;
}

.slider-1-pic1-xl {
  display: none;
}

.navbar-xl {
  display: none;
}

.slider-1-pic1-xxl {
  display: none;
}

.navbar-xl li:hover {
  background-color: rgba(198, 198, 198, 0.5);
  transition: all 0.3s ease-in-out 0s;
}

.section1-header {
  padding: 50px 24px;
}

.section1-header h2 {
  font-size: 32px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 16px;
}

.categories-container {
  padding: 0px 24px;
}

.categories-item {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 1rem;
  padding: 1rem;
  scrollbar-width: thin;
}

.categories-list-item {
  margin: 0px 16px 24px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  /* min-width: 200px; */
  /* height: 150px; */
  /* line-height: 150px;
  border-radius: 8px; */
  flex-shrink: 0;
}

.categories-list-item img {
  padding: 4px;
  margin-bottom: 16px;
}

.categories-list-item a {
  text-decoration: none;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
}

.categories-item-img-md {
  display: none;
}
.categories-item-img-lg {
  display: none;
}

.poster-section {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.poster-1-box {
  position: relative;
  width: 320px;
  height: 309px;
  margin-bottom: 24px;
}

.glass-overlay {
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.2); /* سفید نیمه‌شفاف */
  backdrop-filter: blur(8px); /* افکت شیشه‌ای */
  /* -webkit-backdrop-filter: blur(8px);  */
}

.poster-1-text-box {
  padding: 16px 24px;
  position: absolute;
  top: 42px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
}

.poster-1-text-box h4 {
  font-size: 25px;
  font-weight: 400;
  margin: 0px 0px 16px;
}

.poster-1-text-box p {
  color: rgb(71, 71, 71);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.poster-1-text-box button {
  padding: 14px 0px 4px;
  font-size: 16px;
  font-weight: 600;
  color: #474747;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #80c343;
}

.poster-2-box {
  position: relative;
  width: 320px;
  height: 309px;
  margin-bottom: 24px;
}

.insights-section {
  padding: 48px 24px;
}

/* .insights-section-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.insights-section-container::-webkit-scrollbar {
  display: none;
}

.item {
  min-width: 200px;
  height: 150px;
  background-color: #ccc;
  text-align: center;
  line-height: 150px;
  border-radius: 8px;
  flex-shrink: 0;
  font-weight: bold;
} */

.insights-section-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  scroll-behavior: smooth;
  /* padding: 1rem; */
  scrollbar-width: thin;
}

.insights-section-container::-webkit-scrollbar {
  height: 6px;
}

.insights-section-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.insights-section-container::-webkit-scrollbar {
  height: 8px;
}

.insights-section-container::-webkit-scrollbar-track {
  background: lightgray;
}

.item {
  flex: 0 0 auto;
  width: 384px;
}

.insights-section-header {
  border-bottom: 3px solid black;
  /* width: fit-content; */
  /* padding: 0px 12px; */
}

.insights-section-header h3 {
  /* width: 272px; */
  font-size: 28px;
  padding: 0px 0px 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.insights-section-item1 {
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.insights-section-img {
  margin-bottom: 24px;
}

.insights-section-text-box a {
  text-decoration: none;
  color: rgb(34, 34, 34);
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  font-weight: 600;
}

.insights-section-text-box p {
  padding-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.responsive-text {
  transition: all 0.3s ease-in-out;
}

.discover-section {
  padding-bottom: 32px;
}

.discover-section-container {
  padding: 50px 24px;
}

.discover-section-header {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px 0px 16px;
  line-height: 38px;
  font-weight: 600;
}

.discover-section-item-container {
  padding: 0px 24px;
}

.discover-section-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* بهتر از auto auto */
  align-items: stretch;
  gap: 20px;
}

.discover-section-item1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.discover-section-item1-text h4 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px 8px;
  font-weight: 600;
  line-height: 24px;
}

.discover-section-item1-text p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.discover-section-item1-btn {
  padding: 8px 0px;
  /* margin-top: 35px; */
  margin-top: auto;
}

.discover-section-item1-btn a {
  text-decoration: none;
  padding: 12px 0px 4px 0px;
  border-bottom: 2px solid rgb(128, 195, 67);
  color: rgb(71, 71, 71);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.discover-section-item1-btn a:hover {
  border-bottom: 2px solid black;
}

.discover-section-item1 {
  transition: transform 0.2s linear;
}

.discover-section-item1-img:hover {
  transform: scale(1);
}

.categories-list-item:hover h3 {
  font-weight: 600;
  transition: all 0.2s ease-in 0s;
  transform: scaleX(1);
}

.back-top-btn {
  background-color: rgb(248, 248, 248);
  width: 100%;
  height: 57px;
  position: relative;
}

.back-top-btn:hover {
  transition: all 0.3s ease 0s;
  background-color: rgba(198, 198, 198, 0.5);
}

.back-top-btn button {
  border: none;
  color: rgb(51, 51, 51);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  background-color: transparent;
  padding: 16px 6px;
  position: absolute;
  left: 0;
  right: 0;
}

.footer-items-container {
  background-color: #f0f0f0;
  border-bottom: 2px solid rgba(198, 198, 198, 0.5);
}

.footer-item-1 {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  margin: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.products-btn {
  border: none;
  background-color: transparent;
}

.arrow-icon {
  color: rgb(34, 34, 34);
}

/* .products-items {
  background-color: white;
  max-height: 0;
  transition: all 0.5s ease;
  z-index: 1;
} */

.products-items {
  overflow: hidden;
  transition: max-height 0.4s ease;
  max-height: 0;
  background-color: white;
}

.products-items-lg {
  display: none;
}

.arrow-icon {
  transition: transform 0.3s ease;
  margin-right: 10px;
}

.footer-item.active .arrow-icon {
  transform: rotate(180deg);
}

.products-items li {
  padding: 12px 24px;
}

.products-items a {
  text-decoration: none;
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.products-items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.products-items.show {
  max-height: 1000px;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.arrow-icon.rotate {
  transform: rotate(180deg);
}

.support-items-lg {
  display: none;
}

/* .container-lg {
  display: none;
} */

.responsive-text {
  position: relative;
}

/* .responsive-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #222;
  transition: width 0.3s ease;
}

.responsive-text:hover::after {
  width: 100%;
} */

.footer-links-hover li {
  position: relative;
}

.footer-links-hover a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #222;
  transition: width 0.3s ease;
}

.footer-links-hover a:hover::after {
  width: 100%;
}

.footer-links-item {
  position: relative;
}

.footer-links-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #222;
  transition: width 0.3s ease;
}

.footer-links-item a:hover::after {
  width: 100%;
}

.rescorces-items-lg ul {
  display: none;
}

.footer-apps-logo {
  display: flex;
  justify-content: center;
  margin: 24px 0px;
}

.footer-apps-logo svg {
  padding: 0px 12px;
}

.footer-links-titles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 24px;
}

.footer-links-item {
  padding: 4px 16px;
  margin-right: 2px;
  border-right: 1px solid rgba(38 38 38 / 50%);
}

.footer-links-item a {
  text-decoration: none;
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.footer-item-link svg {
  margin-right: 8px;
}

.footer-item-link {
  text-decoration: none;
  color: rgb(34, 34, 34);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.footer-item-link-container {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

.footer-text {
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
}

.footer-text p {
  font-size: 14px;
  color: rgb(34, 34, 34);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 1600px) {
  .img-button {
    /* width: 280px; */
    align-self: center;
  }
  /* .navbar {
    width: 1440px;
    align-items: center;
  } */
  .categories-container {
    margin: 0px 232px;
  }
}

/* media queries */
@media (max-width: 375px) {
  .container {
    max-width: 100%;
  }
  .poster-1-img-sm {
    display: block;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
    margin: 0px 232px;
  }
}

@media (min-width: 1400) {
  .container {
    max-width: 1440px;
    margin: 0px 232px;
  }
}
@media (min-width: 1600) {
  .container {
    max-width: 1640px;
  }
}

@media screen and (max-width: 374px) {
  .slider-1-pic1-md {
    display: none;
  }
  .slider-1-pic2-img-md {
    display: none;
  }
  .slider-1-pic1-lg {
    display: none;
  }
  .slider-1-pic1-xxl {
    display: none;
  }
  .categories-item-img-md {
    display: none;
  }
  .categories-item-img-lg {
    display: none;
  }
  .categories-item-img-xxl {
    display: none;
  }
  .categories-item-img-xl {
    display: none;
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  .slider-1-text > .header-title > h1 {
    width: 279px;
    /* font-size: 30px; */
  }
  .slider-2-text > .header-title > h1 {
    width: 279px;
  }
  .slider-5-text > .header-title > h1 {
    width: 279px;
  }
  .first-slider-img-md {
    display: none;
  }
  .slider-1-pic1-md {
    display: none;
  }
  .slider-1-pic2-img-md {
    display: none;
  }
  .slider-1-pic1-lg {
    display: none;
  }

  .slider-1-pic1-xxl {
    display: none;
  }
  .categories-item-img-md {
    display: none;
  }
  .categories-item-img-lg {
    display: none;
  }
  .categories-item-img-xxl {
    display: none;
  }
  .categories-item-img-xl {
    display: none;
  }
}
@media screen and (min-width: 425px) and (max-width: 636px) {
  .slider-1-pic2 {
    display: none;
  }
  .slider-1-text-box-md {
    width: 345px !important;
    align-items: start !important;
  }

  .slider-1-text-box-md .header-title {
    width: fit-content;
  }
  /* .slider-1-text > .header-title > h1 {
    width: 329px;
    font-size: 30px;
  } */
  .slider-2-text > .header-title > h1 {
    width: 329px;
  }
  .slider-5-text > .header-title > h1 {
    width: 329px;
  }
  .slider-1-pic1-md {
    display: block;
  }
  .slider-1-pic-s {
    display: none;
  }
  .slider-1-pic2-img-md {
    display: block;
  }
  .slider-1-pic2-img-s {
    display: none;
  }
  .header-title-slide3 {
    width: 323px;
  }
  .header-title-slide3:last-child {
    font-size: 30px;
  }
  .slider-3-text > .header-button-container {
    top: 195px;
  }
  .slider-2-text {
    align-items: start;
  }
  .slider-1-pic1-lg {
    display: none;
  }

  .slider-1-pic1-xxl {
    display: none;
  }
  .categories-item-img-md {
    display: none;
  }
  .categories-item-img-lg {
    display: none;
  }
  .categories-item-img-xxl {
    display: none;
  }
  .categories-item-img-xl {
    display: none;
  }
  .poster-1-img-m1 {
    display: none;
  }
  .insights-section-header {
    width: 375px;
  }
}

@media all and (min-width: 637px) and (max-width: 899px) {
  .slider-1-pic-s {
    display: none;
  }
  .slider-1-pic1-md {
    display: none;
  }
  .slider-1-pic1-lg {
    display: block;
  }
  .slider-1-text-box {
    width: 554px;
    align-items: start;
  }
  .slider-1-text-box .header-title {
    width: 554px;
    align-items: start;
  }
  .slider-3-text > .header-button-container {
    top: 200px;
  }
  .slider-1-pic1-xl {
    display: none;
  }

  .slider-1-pic1-xxl {
    display: none;
  }
  .categories-item-img {
    display: none;
  }
  .categories-item-img-md {
    display: block;
  }
  .categories-item-img-lg {
    display: none;
  }
  .categories-item-img-xxl {
    display: none;
  }
  .categories-item-img-xl {
    display: none;
  }
  .insights-section-header h3 {
    /* width: fit-content; */
    font-size: 31px;
  }
  .insights-section-header {
    /* width: 720px; */
  }
  .discover-section-header {
    font-size: 37px;
  }
  .discover-section-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* بهتر از auto auto */
    align-items: stretch;
    gap: 20px;
  }
}

@media all and (min-width: 900px) and (max-width: 1780px) {
  .slider-1-pic1-xl {
    display: block;
  }
  .slider-1-pic-s {
    display: none;
  }
  .slider-1-pic1-md {
    display: none;
  }
  .slider-1-pic1-lg {
    display: none;
  }
  .slider-1-text-box {
    max-width: 50%;
    align-items: start;
  }
  .slider-1-text-box .header-text {
    width: 330px;
  }
  .slider-1-text-box .header-title {
    width: 330px;
    margin-bottom: 5px;
  }
  .slider-2-text {
    top: 0;
    bottom: 0;
  }
  .slider-3-text {
    padding: 0px 48px;
  }
  .slider-3-text .header-button-container {
    padding: 0px 48px;
    top: 220px;
  }
  .sliders-4 {
    top: 0;
    bottom: 0;
  }
  .sliders-4 .header-button-container {
    margin-top: 20px;
  }
  /* .navbar-xl {
    display: none;
  } */

  .slider-1-pic1-xxl {
    display: none;
  }
  .categories-item-img {
    display: none;
  }
  .categories-item-img-lg {
    display: none;
  }
  .categories-item-img-xxl {
    display: none;
  }
  .categories-item-img-xl {
    display: block;
  }
  .categories-container {
    display: flex;
    justify-content: center;
  }
  .discover-section-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* بهتر از auto auto */
    align-items: stretch;
    gap: 20px;
  }
  .discover-section {
    padding-bottom: 70px;
  }
  .insights-section {
    padding: 48px 24px;
    margin: 0px 0px;
  }
  .insights-section-container::-webkit-scrollbar {
    height: 8px;
  }

  .insights-section-container::-webkit-scrollbar-track {
    background: lightgray;
  }
  /* .container-lg {
    display: flex;
    justify-content: center;
  } */
  .footer-items-lg {
    display: flex;
    justify-content: space-around;
  }
  .support-items-lg {
    display: block;
  }
}

@media all and (min-width: 1080px) {
  .slider-1-text-box {
    top: 0;
    bottom: 0;
    width: 616px;
    padding: 0px 96px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .cart-icon {
    display: none;
  }
  .navbar-xl {
    display: block;
    padding: 0px 12px;
  }
  .navbar-xl ul {
    display: flex;
    justify-content: center;
  }
  .navbar-xl ul li {
    padding: 20px 24px;
  }
  .navbar-xl ul li a {
    color: #222;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .header-moblie-menu {
    display: none;
  }
  .slider-1-pic1-xl {
    display: none;
  }
  .slider-1-pic-s {
    display: none;
  }
  .slider-1-pic1-md {
    display: none;
  }
  .slider-1-pic1-lg {
    display: none;
  }
  .slider-1-pic1-xxl {
    display: block;
  }
  .pic-1-text-box .header-title {
    width: 424px;
    font-size: 57px;
    line-height: 66px;
  }
  .pic-1-text-box .header-text {
    width: 424px;
    font-size: 16px;
    line-height: 27px;
  }
  /* .img-button {
    position: absolute;
    left: 880px;
  } */
  .categories-container {
    display: flex;
    justify-content: center;
  }
  .categories-item-img-lg {
    display: none;
  }
  .categories-item-img {
    display: none;
  }
  .categories-item-img-xl {
    display: none;
  }
  .categories-item-img-xxl {
    display: block;
  }
  .discover-section-header {
    font-size: 47px;
  }
  .discover-section-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* بهتر از auto auto */
    align-items: stretch;
    gap: 20px;
  }
  .discover-section {
    padding-bottom: 70px;
  }
  .img-button {
    justify-content: center;
  }
  .img-button div {
    padding-right: 10px;
  }
  .categories-item {
    overflow-x: visible;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .categories-list-item {
    min-width: unset;
    flex: 0 1 200px;
  }
  .insights-section-container {
    max-width: 1382px;
  }
  .insights-section {
    padding: 48px 24px;
    margin: 0px 232px;
  }
  .item {
    width: 443px;
  }
  .insights-section-container::-webkit-scrollbar {
    height: 8px;
  }

  .insights-section-container::-webkit-scrollbar-track {
    background: lightgray;
  }
  .products-items {
    display: none;
  }
  .arrow-icon {
    display: none;
  }
  /* .footer-items-container {
    display: flex;
    justify-content: center;
  } */
  .container {
    display: flex;
  }
  .footer-items-container div {
    /* padding: 0px 12px; */
    padding: 21px 12px;
  }
  .footer-item-1 {
    display: flex;
    flex-direction: column;
    /* width: 330px; */
  }
  .footer-item-1 p {
    margin-bottom: 8px;
  }
  .products-items-lg {
    display: block;
  }
  .products-items-lg li {
    padding: 8px 0px;
  }
  .products-items-lg a {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-weight: 400;
    font-size: 18px;
  }
  .support-items-lg {
    display: block;
  }
  .support-items-lg li {
    padding: 8px 0px;
  }
  .support-items-lg a {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-weight: 400;
    font-size: 18px;
  }
  .rescorces-items-lg {
    display: block;
  }
  .rescorces-items-lg li {
    padding: 8px 0px;
  }
  .rescorces-items-lg a {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-weight: 400;
    font-size: 18px;
  }
  .sustainablity-lg {
    display: none;
  }
  .container-lg {
    display: flex;
    justify-content: center;
  }
  .footer-items-lg {
    display: flex;
    justify-content: space-around;
  }
  .support-items-lg {
    display: block;
  }
}

@media all and (max-width: 1440px) {
  .insights-section {
    padding: 48px 24px;
    margin: 0px 0px;
  }
  /* .container-lg {
    display: flex;
    justify-content: center;
  } */
}
